.spectre-advantages {
    margin: 0 -18px;
    padding-bottom: 93px;
    background: url(../images/dist/about-us-bg.png) right 0 bottom 225px / 320px no-repeat;

    @include bp(sm1) {
        margin: 0;
    }
    @include bp(xxl) {
        padding-bottom: 88px;
        background-position: right 0 top 0;
        background-size: auto calc(100% - 88px);
        margin-right: -100px;
        padding-right: 120px;
    }
    @include bp(fhd) {
        margin-right: -220px;
        padding-right: 220px;
        padding-bottom: 136px;
        background-size: auto calc(100% - 136px);
    }

    .spectre-title {
        margin: 0 0 33px; 

        @include bp(xxl) {
            max-width: 640px;
        }
        @include bp(fhd) {
            margin-bottom: 47px;
            max-width: 1000px;
        }
    }

    &__grid {
        @include bp(xxl) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    &__description {
        margin-bottom: 35px;

        @include bp(xxl) {
            margin-bottom: 0;
        }

        &-text {
            font-size: 15px;
            line-height: 1.2;
            color: #000;

            @include bp(xxl) {
                margin-bottom: 46px;
            }
            @include bp(fhd) {
                font-size: 21px;
                line-height: 26px;
                margin-bottom: 65px;
            }

            strong {
                font-weight: 500;
            }

            p:first-child {
                margin-top: 0;
            }

            p:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__description &__links {
        display: none;

        @include bp(xxl) {
            display: flex;
        }
    }

    &__options {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 10px 54px;

        @include bp(xxl) {
            margin: 15px 0 0 60px;
            flex: 0 0 360px;
            max-width: 360px;
        }
        @include bp(fhd) {
            flex-basis: 520px;
            max-width: 520px;
            margin: 20px 0 0 75px;
        }

        &-item {
            flex: 0 0 43%;
            max-width: 43%;
            text-align: center;

            @include bp(xxl) {
                flex-basis: 40%;
                max-width: 40%;
            }

            &:nth-child(2n) ~ & {
                margin-top: 62px;

                @include bp(xxl) {
                    margin-top: 84px;
                }
                @include bp(fhd) {
                    margin-top: 118px;
                }
            }
        }

        &-title {
            font-size: 30px;
            line-height: 1.2;
            padding-bottom: 8px;
            margin-bottom: 5px;
            color: #0074c9;
            font-weight: 600;
            position: relative;

            @include bp(xxl) {
                font-size: 40px;
                line-height: 1.3;
                margin-bottom: 8px;
            }
            @include bp(fhd) {
                font-size: 57px;
                line-height: 69px;
                padding-bottom: 12px;
                margin-bottom: 14px;
            }

            &:before {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                content: '';
                border-bottom: 2px solid #0074C9;
                border-radius: 5px;

                @include bp(xxl) {
                    border-width: 3px;
                }
                @include bp(fhd) {
                    border-width: 4px;
                }
            }
        }

        &-body {
            font-size: 15px;
            line-height: 1.2;
            color: #000;
            margin: 0 -5%;

            @include bp(xxl) {
                font-size: 20px;
            }
            @include bp(fhd) {
                font-size: 28px;
                line-height: 35px;
            }
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        @include bp(xxl) {
            display: none;
            align-items: flex-start;
            justify-content: flex-start;
            text-align: left;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: -29px;
        }
        @include bp(fhd) {
            margin-left: -41px;
        }
    }

    &__link {
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
        color: #0074c9;

        @include bp(xxl) {
            margin: 0 0 20px 29px;
        }
        @include bp(fhd) {
            margin: 0 0 28px 41px;
            font-size: 23px;
            line-height: 28px;
        }

        & + & {
            margin-top: 24px;

            @include bp(xxl) {
                margin-top: 0;
            }
        }

        &:hover {
            text-decoration: none;
        }
    }
}