.spectre-calc {
    margin: 0 -15px 220px;

    @include bp(sm1) {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 300px;
    }
    @include bp(xxl) {
        margin-bottom: 75px;
    }
    @include bp(fhd) {
        margin-bottom: 100px;
    }

    .spectre-title {
        margin: 0 -10px 35px; 

        @include bp(md1) {
            margin-left: 0;
            margin-right: 0;
        }
        @include bp(xxl) {
            margin-bottom: 40px;
            max-width: 590px;
        }
        @include bp(fhd) {
            margin-bottom: 55px;
            max-width: 890px;
        }

        br {
            display: none;

            @include bp(md1) {
                display: block;
            }
        }
    }

    &__block {
        border-radius: 10px;
        background: #0074c9;
        padding: 25px 12px 0;
        height: 271px;

        @include bp(xxl) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: auto;
            padding: 16px 15px 36px 32px;
            border-radius: 15px;
        }
        @include bp(fhd) {
            padding: 22px 25px 48px 40px;
        }

        &-left {
            @include bp(xxl) {
                flex-grow: 1;
            }

            &-item {
                margin-bottom: 20px;

                @include bp(xxl) {
                    margin-bottom: 53px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            &-title {
                font-size: 20px;
                line-height: 24px;
                font-weight: 600;
                margin-bottom: 15px;
                text-align: center;
                color: #fff;

                @include bp(sm1) {
                    font-size: 24px;
                    line-height: 30px;
                    margin-bottom: 20px;
                }
                @include bp(xxl) {
                    text-align: left;
                    font-size: 20px;
                    line-height: 24px;
                    margin-bottom: 30px;
                }
                @include bp(fhd) {
                    font-size: 27px;
                    line-height: 33px;
                    margin-bottom: 45px;
                }
            }

            &-titles {
                display: flex;
                justify-content: space-between;
                font-size: 10px;
                line-height: 12px;
                font-weight: 600;
                color: #fff;

                @include bp(sm1) {
                    font-size: 14px;
                    line-height: 16px;
                }
                @include bp(xxl) {
                    font-size: 20px;
                    line-height: 24px;
                }
                @include bp(fhd) {
                    font-size: 27px;
                    line-height: 33px;
                }
            }
        }

        &-right {
            margin: 0 -6px;
            background: #fff;
            border-radius: 20px;
            border: 1px solid #0074C9;
            padding: 20px 18px 5px;

            @include bp(xxl) {
                flex: 0 0 445px;
                max-width: 445px;
                margin-left: 40px;
                padding: 33px 50px 29px;
            }
            @include bp(fhd) {
                margin-left: 55px;
                flex-basis: 490px;
                max-width: 490px;
                padding: 45px 50px 39px;
            }
        }

        &-datas {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 15px;

            @include bp(xxl) {
                margin-bottom: 27px;
            }
            @include bp(fhd) {
                margin-bottom: 35px;
            }
            
            &-item {
                flex: 0 0 calc(50% - 15px);
                max-width: calc(50% - 15px);
            }
            
            &-item + &-item {
                flex: 0 0 calc(50% + 10px);
                max-width: calc(50% + 10px);
            }

            &-title {
                font-size: 8px;
                line-height: 9px;
                color: #3d3d3d;
                margin-bottom: 3px;
                font-weight: 700;

                @include bp(sm1) {
                    font-size: 14px;
                    line-height: 16px;
                    margin-bottom: 5px;
                }
                @include bp(xxl) {
                    font-size: 13px;
                    line-height: 16px;
                }
                @include bp(fhd) {
                    font-size: 16px;
                    line-height: 21px;
                    letter-spacing: -0.3px;
                    margin-bottom: 6px;
                }
            }

            &-body {
                font-size: 13px;
                line-height: 15px;
                color: #3d3d3d;
                font-weight: 600;

                @include bp(sm1) {
                    font-size: 18px;
                    line-height: 22px;
                }
                @include bp(xxl) {
                    font-size: 22px;
                    line-height: 26px;
                }
                @include bp(fhd) {
                    font-size: 29px;
                    line-height: 35px;
                }

                span {
                    color: #f83a16;
                    font-weight: 700;
                }
            }
        }

        &-form {

            &-title {
                font-size: 12px;
                line-height: 15px;
                font-weight: 700;
                color: #3d3d3d;
                margin-bottom: 4px;
                text-align: center;

                @include bp(sm1) {
                    font-size: 20px;
                    line-height: 25px;
                }
                @include bp(xxl) {
                    font-size: 21px;
                    line-height: 26px;
                    margin-bottom: 7px;
                }
                @include bp(fhd) {
                    font-size: 28px;
                    line-height: 34px;
                }

                &--success {
                    display: none;
                }
            }

            &-price {
                text-align: center;
                font-size: 20px;
                line-height: 25px;
                font-weight: 600;
                letter-spacing: -0.2px;
                margin-bottom: 17px;

                @include bp(sm1) {
                    font-size: 24px;
                    line-height: 30px;
                }
                @include bp(xxl) {
                    font-size: 35px;
                    line-height: 43px;
                    margin-bottom: 30px;
                }
                @include bp(fhd) {
                    font-size: 40px;
                    line-height: 57px;
                    letter-spacing: -0.5px;
                }

                span {
                    font-weight: 700;
                    color: #f83a16;
                }
            }

            &-field {
                margin-bottom: 11px;
            }

            &-note {
                font-size: 70%;
                font-weight: normal;
                line-height: 1.3;
                margin-top: 10px;
            }
        }
    }

    .spectre-input {
        border: 1px solid #0074C9;
        height: 32px;
        font-size: 9px;

        @include bp(sm1) {
            font-size: 14px;
            height: 40px;
        }
        @include bp(xxl) {
            font-size: 16px;
            height: 52px;
        }
        @include bp(fhd) {
            font-size: 21px;
            height: 70px;
            border-radius: 25px;
        }
    }

    .spectre-btn {
        width: 100%;
        height: 32px;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 9px;

        @include bp(sm1) {
            height: 40px;
            font-size: 12px;
        }
        @include bp(xxl) {
            height: 56px;
            font-size: 15px;
        }
        @include bp(fhd) {
            font-size: 21px;
            height: 76px;
            border-radius: 25px;
        }
    }

    .noUi-target {
        height: 4px;
        background: #47BE85;
        border-radius: 13px;
        box-shadow: none;
        border: none;
        margin-bottom: 8px;

        @include bp(xxl) {
            height: 10px;
            margin-bottom: 14px;
        }
        @include bp(fhd) {
            height: 13px;
            margin-bottom: 20px;
        }
    }

    .noUi-connects {
        border-radius: 13px;
    }

    .noUi-connect {
        background: #fff;
        border-radius: 13px;
    }

    .noUi-horizontal .noUi-handle {
        width: 11px;
        height: 11px;
        border: none;
        border-radius: 50%;
        right: -8px;
        top: -4px;
        background: #47BE85;
        box-shadow: none;
        border: none;

        @include bp(sm1) {
            width: 15px;
            height: 15px;
            top: -6px;
        }
        @include bp(xxl) {
            width: 21px;
            height: 21px;
        }
        @include bp(fhd) {
            width: 28px;
            height: 28px;
            top: -8px;
        }

        &:before, &:after {
            display: none;
        }
    }

    .noUi-tooltip {
        background: #fff;
        filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.25));
        font-size: 12px;
        line-height: 1;
        border: none;
        box-shadow: none;
        padding: 3px 8px;
        border-radius: 5px;
        margin-bottom: 5px;

        &:before {
            position: absolute;
            left: calc(50% - 4px);
            top: 98%;
            width: 7px;
            height: 7px;
            content: '';
            background: url("data:image/svg+xml,%3Csvg width='7' height='6' viewBox='0 0 7 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 6L6.53109 0.75H0.468911L3.5 6Z' fill='white'/%3E%3C/svg%3E%0A") 0 0 no-repeat;
        }
    }
}