.spectre-cards {
    padding: 16px 0 11px;

    @include bp(md1) {
        padding-bottom: 37px;
    }

    &__title {
        font-size: 26px;
        line-height: 1;
        font-weight: 700;
        margin-bottom: 26px;
        color: #333;

        @include bp(md1) {
            font-size: 45px;
            margin-bottom: 53px;
        }
    }

    &__cards {

        @include bp(md) {
            display: flex;
            flex-wrap: wrap;
            margin-left: -20px;
        }
        @include bp(md1) {
            margin-left: -40px;
        }
    }

    &__card {
        min-height: 247px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 40px;
        border-radius: 7px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        flex-direction: column;
        margin-bottom: 20px;

        @include bp(md) {
            flex: 0 0 calc(33.333% - 20px);
            max-width: calc(33.333% - 20px);
            margin-left: 20px;
            min-height: 200px;
        }

        @include bp(md1) {
            flex: 0 0 calc(33.333% - 40px);
            max-width: calc(33.333% - 40px);
            margin-left: 40px;
            margin-bottom: 40px;
            min-height: 247px;
        }
    }

    &__text {
        color: #fff;
        font-size: 90px;
        line-height: 1;
        font-weight: 600;

        &--mini {
            margin-top: -8px;
            font-size: 24px;
            line-height: 1;
            font-weight: normal;
        }
    }
}