.spectre-footer {
    padding: 84px 25px;
    text-align: center;

    @include bp(md) {
        padding: 41px 40px 84px;
    }
    @include bp(xxl) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 41px 100px 40px 40px;
    }
    @include bp(fhd) {
        padding: 55px 220px 54px 40px;
    }

    &__left {
        margin-bottom: 53px;

        @include bp(xxl) {
            flex: 0 0 133px;
            max-width: 133px;
            margin-bottom: 0;
        }
        @include bp(fhd) {
            flex-basis: 190px;
            max-width: 190px;
        }
    }

    &__logo {
        img {
            height: auto;
        }
    }

    &__middle {
        font-size: 10px;
        line-height: 12px;
        color: #000;
        margin-bottom: 53px;

        @include bp(md) {
            font-size: 12px;
            line-height: 15px;
        }
        @include bp(xxl) {
            flex: 0 0 370px;
            max-width: 370px;
            margin-bottom: 0;
        }
        @include bp(fhd) {
            flex-basis: 500px;
            max-width: 500px;
            font-size: 16px;
            line-height: 20px;
        }

        a {
            color: #000;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__note {
        
    }

    &__policy {
        margin-top: 20px;

        @include bp(fhd) {
            margin-top: 25px;
        }
    }

    &__right {
        @include bp(xxl) {
            flex: 0 0 180px;
            max-width: 180px;
            text-align: right;
        }
        @include bp(fhd) {
            flex-basis: 260px;
            max-width: 260px;
        }
    }

    &__phone {
        color: #666;

        &-title {
            font-size: 12px;
            line-height: 15px;
            font-weight: 500;
            margin-bottom: 6px;

            @include bp(xxl) {
                font-size: 9px;
                line-height: 11px;
                margin-bottom: 4px;
            }
            @include bp(fhd) {
                font-size: 12px;
                line-height: 15px;
                margin-bottom: 6px;
            }
        }

        &-phone {
            font-size: 22px;
            line-height: 26px;
            font-weight: 700;
            color: #0074c9;
            margin-bottom: 6px;
            text-decoration: none;
            display: inline-block;
            vertical-align: top;

            @include bp(xxl) {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 4px;
            }
            @include bp(fhd) {
                font-size: 22px;
                line-height: 26px;
                margin-bottom: 6px;
            }
        }

        &-note {
            font-size: 10px;
            line-height: 12px;
            font-weight: 500;

            @include bp(xxl) {
                font-size: 7px;
                line-height: 9px;
            }
            @include bp(fhd) {
                font-size: 10px;
                line-height: 12px;
            }
        }
    }
}