.spectre-header {
    background: rgba(0, 116, 201, 0.7);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    padding: 15px 10px;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 50;
    height: 60px;

    &.active {
        backdrop-filter: none;
    }

    @include bp(xxl) {
        display: none;
    }

    &__logo {
        max-width: 70px;
        font-size: 0;

        @include bp(md) {
            max-width: 133px;
        }
        @include bp(fhd) {
            max-width: 187px;
        }

        img {
            width: auto;
            height: auto;
        }
    }

    &__phone {
        font-size: 12px;
        line-height: 1;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &__burger {
        cursor: pointer;
        margin: -5px;
        min-width: 34px;
        min-height: 25px;
        background: url("data:image/svg+xml,%3Csvg width='26' height='16' viewBox='0 0 26 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.65' y1='1.35' x2='25.35' y2='1.35' stroke='white' stroke-width='1.3' stroke-linecap='round'/%3E%3Cline x1='7.65' y1='8.35' x2='25.35' y2='8.35' stroke='white' stroke-width='1.3' stroke-linecap='round'/%3E%3Cline x1='16.65' y1='15.35' x2='25.35' y2='15.35' stroke='white' stroke-width='1.3' stroke-linecap='round'/%3E%3C/svg%3E%0A") center no-repeat;
    }

    &__popup {
        position: fixed;
        left: 0;
        top: 0;
		width: 100%;
		height: 100%;
        background: #0074C9;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100%);
        transition: 0.3s;

        &.active {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

		&-scroller {
			padding: 70px 20px 30px;
			max-height: 100%;
			overflow: auto;
			position: relative;
		}

        &-close {
            position: absolute;
            background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L31 31' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M31 1L1 31' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") center no-repeat;
            width: 32px;
            height: 32px;
            right: 8px;
            top: 14px;
            cursor: pointer;
        }

        &-menu {
            width: 100%;
            display: flex;

            ul {
                margin: auto 0;
                padding: 0;
                list-style: none;
                width: 100%;

                li {
                    display: block;
                    text-align: center;

                    &:not(:last-child) {
                        margin-bottom: 2px;
                    }

                    a {
                        color: #fff;
                        text-decoration: none;
                        font-size: 19px;
                        line-height: 1;
                        font-weight: 500;
                        padding: 14px 10px;
                        border-radius: 7px;
                        display: inline-flex;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        transition: 0.2s;
                        min-width: 135px;
                        margin-bottom: 10px;

                        @include bp(xxl) {
                            font-size: 16px;
                            font-weight: normal;
                        }
                        @include bp(fhd) {
                            font-size: 23px;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            border-radius: 20px;
                            min-width: 190px;
                            margin-bottom: 15px;
                            padding-left: 15px;
                            padding-right: 15px;
                        }

                        span {
                            color: #f83a16;
                            font-weight: 800;
                        }

                        img {
                            margin-left: 5px;
                        }

                        &:hover, &.active {
                            background: #fff;
                            color: #0074C9;
                            transition: 0.2s;

                            &.spectre-special {
                                color: #0074C9;
                            }

                            span {
                                color: #0074c9;
                            }

                            img {
                                filter: brightness(0);
                            }
                        }

                        // &.spectre-special {
                        //     font-weight: bold;
                        //     color: #fff;

                        //     &:hover {
                        //         color: #000;
                        //     }
                        // }
                    }
                }
            }
        }
    }
}