.spectre-popup-form1 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    width: 100%;
	height: 100%;
    direction: ltr;
    text-align: left;
	opacity: 0;
	visibility: hidden;
	transition: 0.25s;
	background: #00000070;

	&.active {
		opacity: 1;
		visibility: visible;
	}
	
	&__scrolling {
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    z-index: 1;
	    padding: 20px;
	    overflow: auto;
	    display: flex;
	    align-items: flex-start;
	}

	&__wrap {
	    position: relative;
	    box-sizing: border-box;
	    max-width: 100%;
	    flex: 0 0 auto;
	    margin: auto;
	}

	&__body {
	    padding: 60px 20px 20px;
	    border-radius: 7px;
	    box-shadow: 0px 28px 51px rgba(0, 0, 0, 0.08);
	    position: relative;
	    display: inline-block;
		width: 100%;
	    min-width: 280px;
	    box-sizing: border-box;
	    vertical-align: middle;
	    background: #F2F2F2;
	    text-align: center;
	    font-size: 16px;

		@include bp(md1) {
			padding: 40px;
			min-width: 80vw;
			max-width: 80vw;
		}
		@include bp(xxl) {
			min-width: 1010px;
			max-width: 1010px;
			border-radius: 30px;
		}
	}

	&__close {
	    position: absolute;
	    top: -15px;
	    right: -15px;
	    box-sizing: border-box;
	    width: 39px;
	    height: 39px;
	    background: #2397EB url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7406 1.1363L9.02378 7.85316L2.30692 1.1363C2.12878 0.958161 1.88717 0.858082 1.63524 0.858082C1.3833 0.858082 1.14169 0.958161 0.96355 1.1363V1.1363C0.785408 1.31445 0.685329 1.55606 0.685329 1.80799C0.685329 2.05992 0.785408 2.30153 0.96355 2.47967L7.68041 9.19653L0.96355 15.9134C0.785408 16.0915 0.685329 16.3331 0.685329 16.5851C0.685329 16.837 0.785408 17.0786 0.96355 17.2568V17.2568C1.14169 17.4349 1.3833 17.535 1.63524 17.535C1.88717 17.535 2.12878 17.4349 2.30692 17.2568L9.02378 10.5399L15.7406 17.2568C15.9188 17.4349 16.1604 17.535 16.4123 17.535C16.6643 17.535 16.9059 17.4349 17.084 17.2568C17.2622 17.0786 17.3622 16.837 17.3622 16.5851C17.3622 16.3331 17.2622 16.0915 17.084 15.9134L10.3672 9.19653L17.084 2.47968C17.2622 2.30153 17.3622 2.05992 17.3622 1.80799C17.3622 1.55606 17.2622 1.31445 17.084 1.1363C16.9059 0.958161 16.6643 0.858081 16.4123 0.858082C16.1604 0.858081 15.9188 0.95816 15.7406 1.1363Z' fill='white'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
	    z-index: 10;
	    cursor: pointer;
		box-shadow: 0px 4px 4px 0px #00000040;
		border-radius: 50%;

		@include bp(md1) {
			top: -20px;
			right: -20px;
		}
	}

	&__top {
		@include bp(md1) {
			display: flex;
		}
	}

	&__left {
		margin-bottom: 30px;

		@include bp(md1) {
			flex: 0 0 calc(50% - 20px);
			max-width: calc(50% - 20px);
			margin-right: 40px;
			margin-bottom: 10px;
		}
	}

	&__right {
		@include bp(md1) {
			flex-grow: 1;
		}
	}

	&__name {
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 26px;
		line-height: 1.3;
		text-align: center;
		margin-bottom: 30px;
		color: #0074c9;
		text-transform: uppercase;

		@include bp(md1) {
			text-align: left;
		}
		@include bp(md1) {
			font-size: 30px;
		}
		@include bp(xxl) {
			font-size: 40px;
		}
	}

	&__options {
		padding-bottom: 20px;

		@include bp(md1) {
			display: flex;
			flex-wrap: wrap;
			margin-left: -40px;
		}

		span {
			display: none;
		}
	}

	&__option {
		margin: 0 0 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		color: #000;

		@include bp(md1) {
			justify-content: flex-start;
			align-items: flex-start;
			font-size: 12px;
			line-height: 1.2;
			flex: 0 0 calc(50% - 40px);
			max-width: calc(50% - 40px);
			margin: 0 0 25px 40px;
			flex-direction: column;
			text-align: left;
		}

		&-title {
			margin-right: 10px;

			@include bp(md1) {
				margin: 0;
				font-weight: 600;
				margin-bottom: 5px;

				&:after {
					content: ':';
				}
			}
		}

		&-value {
			font-weight: bold;

			@include bp(md1) {
				font-size: 200%;
			}
			@include bp(xxl) {
				font-size: 240%;
			}
		}

		&--type, &--material {
			display: none;

			@include bp(md1) {
				display: flex;
			}
		}

		&--material {
			@include bp(md1) {
				flex: 0 0 calc(100% - 40px);
				max-width: calc(100% - 40px);
			}
		}
	}

	&__phone {
		background: #0074C9;
		margin: 0 -20px;

		@include bp(md1) {
			margin-left: -40px;
			margin-right: -40px;
		}

		a {
			display: inline-block;
			vertical-align: top;
			padding: 10px 10px 11px;
			font-size: 20px;
			font-weight: bold;
			color: #fff;
			text-decoration: none;

			@include bp(md1) {
				font-size: 30px;
			}
			@include bp(xxl) {
				font-size: 40px;
				line-height: 1;
			}
		}
	}

	&__title {
		font-size: 16px;
		line-height: 1.2;
		font-weight: 700;
		margin-bottom: 28px;
		text-align: center;
		color: #000;
		flex: 0 0 100%;

		@include bp(xs) {
			font-size: 20px;
		}
		@include bp(md1) {
			font-size: 25px;
		}
		@include bp(xxl) {
			margin-bottom: 15px;
		}

		&--success {
			margin-bottom: 0;
			display: none;
			margin: 0 -20px -20px;
			padding: 20px;
			background: #abc528;
			border-radius: 0 0 7px 7px;
			text-align: center;

			@include bp(md1) {
				margin: 0 -40px -40px;
				padding: 40px;
			}

            .spectre-popup-form1__form-note {
                margin-top: 14px;
                font-weight: normal;
				text-align: center;
            }
		}
	}

	&__form {
		margin: 0 -20px -20px;
		padding: 20px;
		position: relative;

		@include bp(md1) {
			padding: 17px 0 0;
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;
			border-radius: 0 0 7px 7px;
			display: flex;
			flex-wrap: wrap;
		}

		&-field {
			margin-bottom: 20px;

			@include bp(md1) {
				flex: 1 0 1%;
			}
		}

		&-field + &-field {

			@include bp(md1) {
				flex: 0 0 235px;
				max-width: 235px;
				margin-left: 40px;
			}
		}

		&-input {
			background: #0074c9;
			color: #fff;

			&::-webkit-input-placeholder, &:-ms-input-placeholder, &::placeholder, &::-moz-placeholder {
				color: #fff;
			}
		}

		&-button {
			width: 100%;
			height: 48px;
			text-transform: uppercase;

			@include bp(xxl) {
				font-size: 22px;
				height: 52px;
			}
			@include bp(fhd) {
				height: 58px;
			}
		}

		&-note {
			text-align: center;
			font-size: 12px;
			line-height: 1;
			color: #fff;
			flex: 0 0 100%;

			@include bp(xxl) {
				font-size: 16px;
			}
			@include bp(xxl) {
				text-align: left;
			}
		}
	}

	.spectre-tabs__blocks-img {
		background: #fff;
		border-radius: 13px;
	}
}