.spectre-video {
    

    &__popup {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 50;
        background: rgba(0, 0, 0, .5);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;

        &.active {
            opacity: 1;
            visibility: visible;
        }

        iframe {
            max-width: 90%;
            max-height: 90%;
            min-height: 30vh;
        }
    }
}