.spectre-video {
    background: #2C83AF url(../images/dist/video_bg.png) 50% 50% / cover no-repeat;
    margin: 0 -10px 35px;
    padding: 36px 30px 38px;
    text-align: center;
    color: #fff;
    
    @include bp(md) {
        margin-left: -20px;
        margin-right: -20px;
    }
    @include bp(md1) {
        margin-left: -35px;
        margin-right: -35px;
        padding: 71px 40px 57px;
        margin-bottom: 50px;
    }
    @include bp(xl) {
        margin-bottom: 73px;
    }
    @include bp(xxxl) {
        margin-left: -80px;
        margin-right: -80px;
    }

    &__title {
        font-size: 26px;
        line-height: 1;
        font-weight: bold;
        margin-bottom: 13px;
        text-transform: uppercase;

        @include bp(md1) {
            font-size: 45px;
            max-width: 520px;
            margin: 0 auto 27px;
        }
    }

    &__description {
        font-size: 16px;
        line-height: 1;
        margin-bottom: 36px;

        @include bp(md1) {
            font-size: 20px;
            max-width: 360px;
            margin: 0 auto 30px;
        }
    }

    &__button {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        width: 85px;
        height: 85px;
        border-radius: 50%;
        background: #ff4e4e url("data:image/svg+xml,%3Csvg width='21' height='23' viewBox='0 0 21 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.2793 9.9366C20.6126 10.7064 20.6126 12.6309 19.2793 13.4007L3.36347 22.5897C2.03014 23.3595 0.363475 22.3973 0.363475 20.8577L0.363476 2.47965C0.363476 0.940048 2.03014 -0.0222027 3.36348 0.747598L19.2793 9.9366Z' fill='white'/%3E%3C/svg%3E%0A") 55% 50% no-repeat;
        transition: opacity 0.2s;

        &:hover {
            opacity: 0.7;
        }
    }

    &__popup {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 50;
        background: rgba(0, 0, 0, .5);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;

        &.active {
            opacity: 1;
            visibility: visible;
        }

        iframe {
            max-width: 90%;
            max-height: 90%;
            min-height: 30vh;
        }
    }
}